* {
  font-family: "Source Sans Pro", "Segoe UI", "Roboto Sans", sans-serif;
}

.-black {
  background-color: black;
  color: white;
}

.-blue {
  background-color: #126bff;
  color: white;
}

.outline-null {
  border: transparent;
}

.-upper {
  text-transform: uppercase;
}

.-lower {
  text-transform: lowercase;
}

.-cap {
  text-transform: capitalize;
}

.-italic {
  font-style: italic;
}

.-bold {
  font-weight: bold;
}

.-fl {
  float: left;
}

.-fr {
  float: right;
}

.hover-blue:hover {
  background-color: #126bff;
  color: white;
}
