* {
  font-family: "Source Sans Pro", "Segoe UI", "Roboto Sans", sans-serif;
}

.-black {
  background-color: black;
  color: white;
}

.-blue {
  background-color: #126bff;
  color: white;
}

.outline-null {
  border: transparent;
}
